@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #84309c;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #E7E7E7;
  background: #121212;
}

.btn {
    background: linear-gradient(263deg, rgba(103, 231, 255, 0.25) -9.2%, rgba(255, 255, 255, 0.25) 51.69%, rgba(168, 241, 255, 0.25) 113.6%);
}

.transparent {
  background: transparent;
}

.dashboard {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: url('../pages/dashboard/img/dashboard.png') no-repeat center;
}